:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-weight: 400;

  --primary-color: #61892f; /* Primary Green */
  --secondary-color: #86c232; /* Secondary Green */
  --background-color: #222629; /* Dark Background */
  --text-color: #ffffff; /* White Text */
  --border-color: #D8C3A5; /* Light tan for borders */
  --error-color: #e85a4f; /* Red for errors */
  --success-color: #86c232; /* Green for success messages */
  --accent-color: #474b4f; /* Gray Accent */
  --light-accent-color: #6b6e70; /* Light Gray Accent */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
  font-family: inherit;
}

button:hover {
  background-color: var(--secondary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}